<!DOCTYPE html>
 <html>
    <head>
        <link rel="stylesheet" href="/stylesheets/gallery.css">
        <title>Gallery</title>
        <link rel="icon" href="/images/Social media-logos.jpeg">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    </head>
    <body>
        
        <a class="links" href="/">Home</a>
        <a class="links" href="/Gallery">Gallery</a>
        <a class="links" href="/post">Post</a>
        <a class="links" href="/review">Reviews</a>
    
        <h1 class="app">Most popular apps</h1>
         <div class="wrapper">
            <div class="icon facebook">
            <div class="tooltip">Facebook</div>
            <a href="https://www.facebook.com/">
            <span><i class="fab fa-facebook-f"></i></span></a>
            </div>
            <div class="icon Twitter">
            <div class="tooltip">Twitter</div>
            <a href="https://twitter.com">
            <span><i class="fab fa-Twitter"></i></span></a>
            </div>
            <div class="icon discord">
            <div class="tooltip">Discord</div>
            <a href="https://discord.com">
            <span><i class="fab fa-discord"></i></span></a>
            </div>
            <div class="icon youtube">
            <div class="tooltip">Youtube</div>
            <a href="https://youtube.com">
            <span><i class="fab fa-youtube"></i></span></a>
            </div>
            <div class="icon github">
            <div class="tooltip">Github</div>
            <a href="https:github.com">
            <span><i class="fab fa-github"></i></span></a>
            </div>
            <div class="icon whatsapp">
            <div class="tooltip">Whatsapp</div>
            <a href="https://whatsapp.com">
            <span><i class="fab fa-whatsapp"></i></span></a>
            </div>
            <div class="icon snapchat">
            <div class="tooltip">Snapchat</div>
            <a href="https://snapchat.com">
            <span><i class="fab fa-snapchat"></i></span></a>
            </div>
            <div class="icon telegram">
            <div class="tooltip">Telegram</div>
            <a href="https://telegram.com">
            <span><i class="fab fa-telegram"></i></span></a>
            </div>
     </body> 
</html>
