<DOCTYPE html>
    <head>
        <link rel="stylesheet" href="/stylesheets/gallery.css">
        <title>Gallery</title>
    </head>
    <body>
        <h1> Most Popular Apps</h1>
        <a class="links" href="/">Home</a>
        <a class="links" href="/Gallery">Gallery</a>
        <a class="links" href="/post">Post</a>
        <a class="links" href="/review">Reviews</a>
        <a class="youtube" href="http://youtube.com"></a>
        <a  class="twitter" href="http://twitter.com"></a>
    </body>