<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    
  </head>
  <body>
    <div class="box"></div>
    <div class="img"></div>
    <div class="img2"></div>
    <a class="links" href="/">Home</a>
    <a class="links" href="/Gallery">Gallery</a>
    <a class="links" href="/reviews">Reviews</a>
    <div class="main">
    <h1 class="font1">what is social media</h1>
    <p class="font"><b>Social media refers to the means of interactions among people in which they create, share, and/or exchange information and ideas in virtual communities and networks. The Office of Communications and Marketing manages the main Facebook, Twitter, Instagram, LinkedIn and YouTube accounts.</b></p>
    </div>
  </body>
</html>
