<html>
<head>
    <link rel="stylesheet" href="/stylesheets/post.css"/>
    <title>Post</title>
    
</head>
<body>
    <a class="links" href="/">Home</a>
    <a class="links" href="/Gallery">Gallery</a>
    <a class="links" href="/post">Post</a>
    <a class="links" href="/review">Reviews</a>
    <div class="img2"></div>
<div class="box">
    <form class="mail" action="/submit" method="POST">
    
    <div class="content">
        <div class="inputbox">
            <form action="/submit" method="POST">
        <input name="socialMedia" type="text" required="required"><span class="posi1">Social Media Name</span>
        </div>
        <br>
        <br>
        <div class="inputbox">
        <input name="review" type="text" required="required"><span class="posi2">Review</span>
        </div>
        <br>
        <br>
        <div class="inputbox">
        <input name="About" type="text" required="required"><span class="posi3">About our Website</span>
         </div>
        <br>
        <br>
 
        <input class="submit" type="submit" value="Submit">
       
    </form>
</div>
</div>
</body>
</html>