<html>
<head>
    <link rel="stylesheet" href="/stylesheets/post.css"/>
    <title>Post</title>
    
</head>
<body>
    <a class="links" href="/">Home</a>
    <a class="links" href="/Gallery">Gallery</a>
    <a class="links" href="/post">Post</a>
    <a class="links" href="/review">Reviews</a>

    <form class="mail" action="/submit" method="POST">
        <div class="img2"></div>
    <div class="content">
        <div class="inputbox">
            <form action="/submit" method="POST">
        <input type="text" required="required"><span class="posi1">First Name</span>
        </div>
        <br>
        <br>
        <div class="inputbox">
        <input type="text" required="required"><span class="posi2">Last Name</span>
        </div>
        <br>
        <br>
        <div class="inputbox">
        <input type="text" required="required"><span class="posi3">Password</span>
         </div>
        <br>
        <br>
 
        <input type="submit" value="Enter">
    </form>
    </div>
</body>
</html>