<html>
<head>
    <link rel="stylesheet" href="/stylesheets/post.css"/>
    <title>Post</title>
    
</head>
<body>
    <a class="links" href="/">Home</a>
    <a class="links" href="/Gallery">Gallery</a>
    <a class="links" href="/post">Post</a>
    <a class="links" href="/review">Reviews</a>
    <h1></h1>
    <p></p>
</body>
</html>